<div id="footer">
    <div class="page-center">
        <a class="logo" style="justify-content:flex-end;" href="/"><img src="/assets/images/pbgradthin.svg"></a>
        <div class="footer-links">
        <p><a href="/articles">articles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/about">about</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="mailto:hello@philosophybreak.com">contact</a></p>
        <p class="copyright">© philosophy break 2019. All rights reserved.</p>
        </div>
    </div>
</div>
