<div id="footer">
    <div class="page-center">
        <div class="footer-links">
            <p><a href="/about">About</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:hello@philosophybreak.com">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.instagram.com/philosophybreak/">Instagram</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/philosophy-break/">LinkedIn</a></p>
        </div>    
        <p class="copyright">© Philosophy Break 2019. All rights reserved.</p>
    </div>
</div>
