<div id="nav">
    <div class="page-center">
        <a class="logo" href="/"><img src="/assets/images/pbgradthin.svg"></a>
        <div id="menu-trigger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>
</div>
<ul id="menu">
    <h3><a href="/">Philosophy Break</a><small>A clearing in your cluttered newsfeed</small></h3>
    <li><a href="/articles">Take a Break →</a></li>
    <li><a href="/about">What is Philsophy Break?</a></li>
    <li><a href="mailto:hello@philosophybreak.com">Contact</a></li>
</ul>