<div id="nav">
    <div class="page-center nav-flex">
        <a class="logo" href="/"><img src="/assets/images/pbgradthin.svg"><h1>philosophy break</h1></a>
        <ul id="desktop-menu" class="mobile-no-display">
        <a href="/articles"><li>articles</li></a><span style="font-weight: bold; cursor: default;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="/about"><li>about</li></a><span style="font-weight: bold; cursor: default;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <a href="mailto:hello@philosophybreak.com"><li>contact</li></a>
        </ul>
        <div id="mobile-trigger" class="desktop-no-display">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        </div>
    </div>
</div>
<div class="desktop-no-display" style="position: relative;">
    <ul id="mobile-menu">
        <a href="/articles"><li>articles</li></a>
        <a href="/about"><li>about</li></a>
        <a href="mailto:hello@philosophybreak.com"><li>contact</li></a>
        <a href="https://www.instagram.com/philosophybreak/" target="_blank"><li><img src="/assets/images/instagram-logo.png" style="width: 50px;"></li></a>
    </ul>
</div>