<div id="mc_embed_signup">
    <div class="page-center">
        <form action="https://philosophybreak.us19.list-manage.com/subscribe/post?u=6f4dbbebde3dd2a464df28ec3&amp;id=48d478eebf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <input type="email" value="Email address" onfocus="this.value=''" name="EMAIL" required>
        <input type="submit" value="Subscribe" name="subscribe">
        </form>
        <p>Treat yourself to weekly philosophy breaks direct to your inbox. Unsubscribe any time.</p>
    </div>
</div>