---
---
/***reset browers***/
* {padding: 0; margin: 0; line-height: 1.1;}

/***overflow***/
html, body {width: 100%; overflow-x: hidden;}

/***fonts***/
body {font-family: 'Spectral', serif; font-size: 16px; color: #282828; letter-spacing: -0.5px; text-rendering: optimizeLegibility;}

/***page center***/
@media (max-width: 619px) {
    .page-center {margin: 0 12px;}
}
@media (min-width: 620px) {
    .page-center {width: 600px; margin: 0 auto;}
}

/***general classes***/
/*responsive hide*/
@media (max-width: 619px) {
  .mobile-no-display {display: none !important;}
}
@media (min-width: 620px) {
  .desktop-no-display {display: none !important;}
}
/***headings***/
h1 {font-size: 36px; font-weight: lighter;}
h1#home-page {font-size: 44px;}
h2 {font-size: 30px; margin: 1.8em 0 0.6em; font-weight: lighter;}
h3, h4, h5, h6 {margin: 1.2em 0 0.6em; font-weight: lighter;}
h3 {font-size: 25px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}

@media (min-width: 620px) {
    h1 {font-size: 45px;}
    h1#home-page {font-size: 55px;}
    h2 {font-size: 35px;}
    h3 {font-size: 28px;}
}


/***p and links***/
p {line-height: 1.5; margin: 1em 0; font-size: 18px;}
@media (min-width: 620px) {
  p {font-size: 20px;}
}
a {color: #282828; text-decoration: underline; text-decoration-color: #36b4ff;}
a:hover {color: #36b4ff;}

/***section breaks***/
div.section-break {width: 50px; border-bottom: solid 4px #36b4ff; margin-top: 2em;}

/***nav***/
/*logo*/
a.logo {position: fixed; top: 10px; z-index: 3;}
a.logo img {width: 80px; border-radius: 50%; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); transition: all 0.2s;}
a.logo img.reduce-size {width: 63px; -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;}
/*menu trigger*/
#menu-trigger {position: fixed; top: 20px; margin-left: 70px; cursor: pointer; z-index: 2; background-color: rgba(255, 255, 255, 0.7); padding: 1em; border: solid 3px #fff; border-radius: 50%; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); transition: all 0.2s;}
#menu-trigger.reduce-size {transform-origin: left; transform: scale(0.8); margin-left: 56px; top: 12px; -webkit-transform-style: preserve-3d; -webkit-backface-visibility: hidden;}
#menu-trigger.change {background-color: rgba(255, 255, 255, 1); -webkit-transition: background-color 500ms linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;}
#menu-trigger .bar1, #menu-trigger .bar2, #menu-trigger .bar3 {width: 20px; height: 2px; background-color: #1a1a1a; margin: 4px 0; transition: 0.4s;}
#menu-trigger.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px); transform: rotate(-45deg) translate(-5px, 4px);}
#menu-trigger.change .bar2 {opacity: 0;}
#menu-trigger.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-4px, -4px);}
/*menu*/
ul#menu {background-color: rgba(255, 255, 255, 0.98); list-style-type: none; position: fixed; z-index: 1; min-height: 120%; -webkit-box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); right: -400px; transition: all 0.3s linear;}
ul#menu.show {right: 0 !important;} /*show menu*/
ul#menu h3 {margin-left: 44px; margin-top: 36px;}
ul#menu h3 small {display: block; font-size: 12px;}
ul#menu h3 a, ul#menu li a {text-decoration: none;}
ul#menu li {margin: 2em 1em; font-size: 18px; border-bottom: solid 1px #36b4ff;}
@media (min-width: 620px) {
  ul#menu h3 {font-size: 32px;} 
  ul#menu h3 small {font-size: 15px;}
  ul#menu li {font-size: 22px; margin: 2em 1.25em;}
}

/*initially position menu off screen*/
@media (min-width: 400px) {
  ul#menu {right: -500px;}
}
@media (min-width: 600px) {
  ul#menu {right: -800px; transition: all 0.5s linear;}
}
@media (min-width: 1200px) {
  ul#menu {right: -1400px;}
}
@media (min-width: 1800px) {
  ul#menu {right: -2000px;}
}

/***footer***/
#footer {background-color: #000000; padding: 4em 0 2em;}
#footer .footer-links p, #footer .footer-links p a {color: #fff; font-size: 16px; text-decoration: none;}
#footer .footer-links p a:hover {color: #36b4ff;}
#footer p.copyright {font-size: 12px;color: #fff;}

/***title module***/
.title {background-color: #000000; position: relative; width: 100%; display: block; margin-bottom: 65px; height: 75vh;}
.title img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
.title h1 {color: #fff;position: absolute; bottom: -40px; margin: 0 12px; letter-spacing: -1px; line-height: 1.4;}
.title h1 span {background-color: #000000;}
@media (min-width: 620px) {
  .title h1 {width: 600px; left: 0; right: 0; margin: 0 auto;}
}

/***featured image full screen (homepage)***/
.featured-image-full {height: 100vh; width: 100%; overflow: hidden; background-size: cover; background-position: center center; position: relative;}
/*darkener
.featured-image-full:before {background-color: rgba(0,0,0,0.1); content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}*/
.featured-image-full div {position: absolute; margin: 0 12px; top: 28%; transition: all 0.5s ease-out; opacity: 0;}
.featured-image-full div h1, .featured-image-full div h4, .featured-image-full div h4 a {color: #fff;}
.featured-image-full div h4:first-of-type {margin-top: 0.1em; font-size: 20px;}
.featured-image-full div h4:last-of-type {margin-top: 1.5em; font-size: 18px;}
.featured-image-full div h4 a:hover {background-color: #36b4ff;}
@media (min-width: 620px) {
  .featured-image-full div {width: 600px; left: 0; right: 0; margin: 0 auto;}
  .featured-image-full div h4:first-of-type {font-size: 25px;}
}

/***article styling***/
/*blockquote*/
.blockquote {border-left: solid 4px #f5f5f5; padding: 0 16px; color: #8c8c8c; margin: 1em 0; font-weight: lighter; line-height: 1.4;}
/*article image*/
.article-image {margin-top: 1.5em; height: 0; position: relative; background-color: #8c8c8c;}
.article-image img {width: 100%; height: auto; position: absolute;}
/*caption*/
.caption {font-size: 14px; margin-top: 10px; color: #8c8c8c;}
.caption-pointer {color: #36b4ff; margin-right: 2px;}
/*big letter*/
.big-letter {float: left; font-size: 100px; color: #36b4ff; line-height: 0.9; margin-bottom: -0.2em; margin-top: -3px;}
@media (min-width: 620px) {
  .big-letter {font-size: 112px;}
}

/***article listing***/
.article:first-of-type {margin-top: 6em;}
.article {margin: 4em 0;}
.article a.article-title {display: block; position: relative; width: 100%; height: 40vh; background-color: #000000;}
.article a.article-title img {width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0;}
.article a.article-title h2 {position: absolute; bottom: -30px; margin: 0; color: #fff; line-height: 1.4;}
.article a.article-title h2 span {background-color: #000000;}
.article p {margin-top: 50px;}
.article p:last-child {margin-top: 0;}

/***form***/
#mc_embed_signup {width: 100%; padding: 40px 0 35px;}
#mc_embed_signup form {width: 100%; display: flex; align-items: center; margin-bottom: 0.6em;}
#mc_embed_signup input {padding: 0.9em 1.5em; font-family: 'Spectral', serif; border-radius: 40px; border: none; font-size: 18px; width: 70%; line-height: normal; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
#mc_embed_signup input[type="email"] {padding-right: 16%;}
#mc_embed_signup input[type="submit"] {width: 45%; cursor: pointer; margin-left: -14%; color: #fff; background:linear-gradient(to right top, #1aa9ff, #7cceff);;}
#mc_embed_signup input:focus {outline: none; -webkit-box-shadow: 0 0 20px rgba(21, 71, 100, 0.3); -moz-box-shadow: 0 0 20px rgba(21, 71, 100, 0.3); box-shadow: 0 0 20px rgba(21, 71, 100, 0.3);}
#mc_embed_signup input.required:invalid {border-color: red;}
#mc_embed_signup p {margin-bottom: 0;}

/***animations***/
/*fadeInRight*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fade-right {opacity: 0;}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInRight.delay {
  -webkit-animation-delay: 1s;
  animation-delay: 0.7s;
}