---
---
/***reset browers***/
* {padding: 0; margin: 0; line-height: 1.1;}

/***overflow***/
html, body {width: 100%; overflow-x: hidden;}

/***fonts***/
body {font-family: 'Spectral', serif; font-size: 16px; color: #1a1a1a; letter-spacing: -0.5px; text-rendering: optimizeLegibility;}

/***page center***/
@media (max-width: 999px) {
    .page-center {margin: 0 12px;}
}
@media (min-width: 1000px) {
    .page-center {width: 600px; margin: 0 auto;}
}

/***general classes***/
/*responsive hide*/
@media (max-width: 999px) {
  .mobile-no-display {display: none !important;}
}
@media (min-width: 1000px) {
  .desktop-no-display {display: none !important;}
}

/***headings***/
h1 {font-size: 36px; font-weight: lighter;}
h1#home-page {font-size: 40px;}
h2 {font-size: 30px; margin: 1.8em 0 0.6em; font-weight: lighter;}
h3, h4, h5, h6 {margin: 1.2em 0 0.6em; font-weight: lighter;}
h3 {font-size: 25px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}

@media (min-width: 1000px) {
    h1 {font-size: 45px;}
    h1#home-page {font-size: 50px;}
    h2 {font-size: 35px;}
    h3 {font-size: 28px;}
}


/***p and links***/
p {line-height: 1.5; margin: 1em 0; font-size: 18px;}
@media (min-width: 1000px) {
  p {font-size: 20px;}
}
a {color: #1a1a1a; text-decoration: underline; text-decoration-color: #36b4ff;}
a:hover {color: #36b4ff;}

/***section breaks***/
div.section-break {width: 50px; border-bottom: solid 4px #36b4ff; margin-top: 2em;}

/***nav***/
#nav {height: 40px;}
/*logo*/
a.logo {display: flex; align-items: flex-start; text-decoration: none; padding-top: 2px; box-shadow: none;}
a.logo:hover {color: #1a1a1a;}
a.logo img {width: 60px; border-radius: 50%; position: relative; z-index: 2; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
a.logo h1 {margin-left: 10px; font-size: 17px; margin-top: 0.5em; padding-top: 5px;}
/*menus*/
.nav-flex {display: flex; align-items: center; justify-content: space-between;}
ul#desktop-menu {list-style-type: none; margin-top: -14px; display: flex; align-items: center;}
ul#desktop-menu a {display: inline-block;}
ul#desktop-menu a li {display: inline; font-size: 17px;}
#mobile-trigger {margin-top: -15px; cursor: pointer;}
#mobile-trigger .bar1, #mobile-trigger .bar2, #mobile-trigger .bar3 {width: 20px; height: 2px; background-color: #151515; margin: 4px 0; transition: 0.4s;}
#mobile-trigger.change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px); transform: rotate(-45deg) translate(-5px, 4px);}
#mobile-trigger.change .bar2 {opacity: 0;}
#mobile-trigger.change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-4px, -4px);}
ul#mobile-menu {background-color: #fff; text-align: right; list-style-type: none; position: absolute; right: 0; z-index: 3; height: 100%; -webkit-box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.2); visibility:hidden;}
ul#mobile-menu a {display: block;}
ul#mobile-menu a li {margin: 1.5em 12px 1.5em 1.5em; font-size: 22px;}

/***footer***/
#footer {background: linear-gradient(to right top, #000000, #151515); padding-bottom: 1em;}
#footer img {margin-top: -25px;}
#footer .footer-links {margin-top: -30px;}
#footer .footer-links p, #footer .footer-links p a {color: #fff; font-size: 16px;}
#footer .footer-links p a {box-shadow: none; text-decoration: underline;}
#footer .footer-links p a:hover {color: #36b4ff;}
#footer .footer-links p.copyright {font-size: 12px;color: #fff;}

/***featured image module***/
.featured-image {background-size: cover; background-position: center center; position: relative; height: 70vh; width: 100%; overflow: hidden; display: block;}
/*gradient*/
.featured-image:before {background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7)); content: ''; position: absolute; top: 50%; left: 0; width: 100%; height: 51%;}
.featured-image h1 {color: #fff;position: absolute; bottom: 10px; margin: 0 12px; letter-spacing: -1px;}
@media (min-width: 1000px) {
  .featured-image h1 {width: 600px; left: 0; right: 0; margin: 0 auto;}
}
/*featured image full screen (homepage)*/
.featured-image-full {height: calc(100vh - 40px); width: 100%; overflow: hidden; background-size: cover; background-position: left center; position: relative;}
/*darkener
.featured-image-full:before {background-color: rgba(0,0,0,0.1); content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}*/
.featured-image-full div {position: absolute; margin: 0 12px; top: 28%; transition: all 0.5s ease-out; opacity: 0;}
/*.featured-image-full div h1, .featured-image-full div h4 a {color: #fff;}*/
@media (min-width: 1000px) {
  .featured-image-full div {width: 600px; left: 0; right: 0; margin: 0 auto;}
}

/***article styling***/
/*in-article image*/
.full-width {width: 100%; height: auto; margin: 0.5em 0;}
/*blockquote*/
.blockquote {border-left: solid 4px #f5f5f5; padding: 0 16px; color: #8c8c8c; margin: 1em 0; font-weight: lighter; line-height: 1.4;}
/*caption*/
.caption {font-size: 14px; margin: 0; color: #8c8c8c;}
.caption-pointer {color: #36b4ff; margin-right: 2px;}
/*big letter*/
.big-letter {float: left; font-size: 100px; color: #36b4ff; line-height: 0.9; margin-bottom: -0.2em; margin-top: -3px;}
@media (min-width: 1000px) {
  .big-letter {font-size: 112px;}
}

/***mailchimp form***/
#mc_embed_signup {width: 100%; padding: 40px 0 35px;}
#mc_embed_signup form {width: 100%; display: flex; align-items: center; margin-bottom: 0.6em;}
#mc_embed_signup input {padding: 0.9em 1.6em; font-family: 'Spectral', serif; border-radius: 40px; border: none; font-size: 18px; width: 70%; line-height: normal; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
#mc_embed_signup input[type="email"] {padding-right: 16%; color: #36b4ff;}
#mc_embed_signup input[type="submit"] {width: 45%; cursor: pointer; margin-left: -14%; color: #fff; background: linear-gradient(to right top, #000000, #151515);}
#mc_embed_signup input:focus {outline: none; -webkit-box-shadow: 0 0 20px rgba(21, 71, 100, 0.3); -moz-box-shadow: 0 0 20px rgba(21, 71, 100, 0.3); box-shadow: 0 0 20px rgba(21, 71, 100, 0.3);}
#mc_embed_signup input.required:invalid {border-color: red;}
#mc_embed_signup p {margin-bottom: 0;}

/***animations***/
/*fadeInRight*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fade-right {opacity: 0;}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInRight.delay {
  -webkit-animation-delay: 1s;
  animation-delay: 0.7s;
}
/*slideInRight*/
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  visibility: visible !important;
}
/*slideOutRight*/
@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
