/***reset browers***/
* {padding: 0; margin: 0; line-height: 1.1;}

/***overflow***/
html {overflow-y: scroll;}
html, body {width: 100%; overflow-x: hidden;}

/***fonts and background***/
body {font-family: 'Public Sans', sans-serif; font-size: 16px; color: #282828; text-rendering: optimizeLegibility;}

/***page center***/
@media (max-width: 619px) {
    .page-center {margin: 0 12px;}
}
@media (min-width: 620px) {
    .page-center {width: 600px; margin: 0 auto;}
}

/***general classes***/
.grey-background {background-color: #f8f8f8; padding: 24px 0;}
.grey-background h3 {text-align: center; margin-top: 1em;}
.grey-background .separator {margin: 1.5em auto 0;}
.text-center {text-align: center;}

/*responsive hide*/
@media (max-width: 619px) {
  .mobile-no-display {display: none !important;}
}
@media (min-width: 620px) {
  .desktop-no-display {display: none !important;}
}
/***headings***/
h1 {font-size: 36px; font-weight: 900;}
h1#home-page {font-size: 34px;}
h2 {font-size: 30px; margin: 2em 0 1em; font-weight: 400;}
h3, h4, h5, h6 {margin: 1.2em 0 0.6em; font-weight: 400;}
h3 {font-size: 25px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}

@media (min-width: 360px) {
  h1#home-page {font-size: 38px;}
}

@media (min-width: 620px) {
    h1 {font-size: 45px;}
    h1#home-page {font-size: 65px;}
    h2 {font-size: 35px;}
    h3 {font-size: 28px;}
    h4 {font-size: 26px;}
}

/***p and links***/
p {line-height: 1.5; margin: 1em 0; font-size: 18px;}
#break-start p {font-family: 'Spectral', serif; letter-spacing: -0.5px; margin: 1em 0;} /*article p */
@media (min-width: 620px) {
  p {font-size: 20px;}
}
a {color: #282828; text-decoration: underline; -webkit-text-decoration-color: #36b4ff; -ms-text-decoration-color: #36b4ff; -moz-text-decoration-color: #36b4ff; text-decoration-color: #36b4ff;}
a:hover {background: linear-gradient(to right top, #1aa9ff, #7cceff); color: #fff; text-decoration: none;}
/*buttons*/
.button {display: inline-block; margin: 0.5em 0; text-decoration: none; font-size: 16px; font-weight: 400; padding: 1em 1.2em 1.1em; border-radius: 4px;}
.button.primary {color: #fff; background:linear-gradient(to right top, #1aa9ff, #7cceff); -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);}
.button.primary:hover {-webkit-filter: brightness(1.1); filter: brightness(1.1);}
.button.secondary {background: #fff;}
span.shadow {padding: 0.65em 0 0.85em; border-radius: 40px; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);}
.button.secondary:hover {background: linear-gradient(to right top, #1aa9ff, #7cceff); color: #fff;}
.button svg {width: 16px; height: 16px; fill: #fff; margin-right: 6px; vertical-align: bottom;}
.button.secondary svg {fill: #36b4ff;}
:hover.button.secondary svg {fill: #fff;}

@media (min-width: 620px) {
  .button {font-size: 18px;}
  .button svg {width: 18px; height: 18px;}
}

/***section breaks***/
div.section-break {width: 20%; border-bottom: solid 4px #e9e9e9; margin-top: 5em;}

/***nav***/
/**logo**/
a.logo {position: fixed; top: 10px; z-index: 4;}
a.logo:hover {background: transparent;}
a.logo svg {width: 80px; height: 80px; border-radius: 50%; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); transition: all 0.2s;}
a.logo svg.reduce-size {width: 63px; height: 63px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
/**menu trigger**/
#menu-trigger {position: fixed; top: 20px; margin-left: 70px; cursor: pointer; z-index: 3; padding: 1em; border: solid 3px #fff; border-radius: 50%; background-color: rgba(255, 255, 255, 0.7); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); transition: all 0.2s;}
#menu-trigger.reduce-size {transform-origin: left; transform: scale(0.8); margin-left: 56px; top: 12px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
#menu-trigger .bar1, #menu-trigger .bar2, #menu-trigger .bar3 {width: 20px; height: 2px; background-color: #1a1a1a; margin: 4px 0; transition: 0.4s;}
#menu-trigger .change .bar1 {-webkit-transform: rotate(-45deg) translate(-9px, 6px); transform: rotate(-45deg) translate(-5px, 4px);}
#menu-trigger .change .bar2 {opacity: 0;}
#menu-trigger .change .bar3 {-webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-4px, -4px);}
/**menu**/
ul#menu {background-color: #fff; list-style-type: none; position: fixed; z-index: 2; min-height: 120%; -webkit-box-shadow: -30px 0 30px rgba(0, 0, 0, 0.3); -moz-box-shadow: -30px 0 30px rgba(0, 0, 0, 0.3); box-shadow: -30px 0 30px rgba(0, 0, 0, 0.3); right: -400px; transition: all 0.3s linear;}
ul#menu.show {right: 0 !important;} /*show menu*/
ul#menu h3 {margin-left: 46px; margin-bottom: 26px; font-size: 18px; margin-top: 36px; font-weight: 900;}
ul#menu h3 small {display: block; font-size: 10px; font-family: 'Spectral', serif; letter-spacing: -0.5px; font-weight: 400;}
ul#menu h3 a, ul#menu li a {text-decoration: none;}
ul#menu h3 a:hover, ul#menu li a:hover {background: transparent; color: #36b4ff;}
ul#menu li {padding: 1em 1em 1.2em; font-size: 18px; border-bottom: solid 1px #e9e9e9; font-weight: 400;}
ul#menu li:first-of-type {border-top: solid 1px #e9e9e9;}
ul#menu li a {display: flex; align-items: flex-end;}
ul#menu li a svg {margin-right: 8px; width: 18px; height: 18px;}
ul#menu li a svg path {fill: #36b4ff;}
@media (min-width: 360px) {
  ul#menu h3 {font-size: 22px;} 
  ul#menu h3 small {font-size: 11.5px;}
}
@media (min-width: 620px) {
  ul#menu h3 {font-size: 30px;} 
  ul#menu h3 small {font-size: 15.5px;}
  ul#menu li {font-size: 22px; padding: 1.1em 1.1em 1.3em;}
  ul#menu li a svg {width: 22px; height: 22px;}
}

/*initially position menu off screen*/
@media (min-width: 400px) {
  ul#menu {right: -500px;}
}
@media (min-width: 600px) {
  ul#menu {right: -800px; transition: all 0.5s linear;}
}
@media (min-width: 1200px) {
  ul#menu {right: -1400px;}
}
@media (min-width: 1800px) {
  ul#menu {right: -2000px;}
}

/***footer***/
#footer {background-color: #000000; padding: 3em 0 2em; text-align: center;}
#footer .logo-footer a {text-decoration: none;}
#footer .logo-footer a:hover {background: none;}
#footer .logo-footer svg {width: 50px;}
#footer .logo-footer h3 {color: #e9e9e9; margin-top: 10px; font-weight: 900;}
#footer .logo-footer h3 small {font-size: 13px; display: block; font-family: 'Spectral', serif; letter-spacing: -0.5px; font-weight: 400;}
#footer .follow-footer {margin: 10px 0 30px;}
#footer .disclaimer-footer p {color: #8c8c8c; font-size: 10px;}
#footer .disclaimer-footer p a {color: #8c8c8c; text-decoration-color: #8c8c8c;}
#footer .disclaimer-footer p a:hover {color: #fff;}
@media (min-width: 620px) {
  #footer {padding: 3em 0;}
  #footer .logo-footer h3 small {font-size: 14px;}
}

/***home-page***/
.featured-image-full {height: 100vh; width: 100%; overflow: hidden; position: relative; background-color: #000; display: block;}
.featured-image-full div.gatsby-image-wrapper {height: 100%;}
.featured-image-full div.gatsby-image-wrapper picture img {object-position: 35% center !important;}
.featured-image-full div.darkener {background: radial-gradient(rgba(0,0,0,0.6),transparent);}
.featured-image-full div.page-center {position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}
.featured-image-full div.page-center h1, .featured-image-full div.page-center h4, .featured-image-full div.page-center p {color: #fff;}
.featured-image-full div.page-center h4 {margin-top: 0.1em; font-family: 'Spectral', serif; letter-spacing: -0.5px; font-size: 17.5px;}
@media (min-width: 360px) {
  .featured-image-full div.page-center h4 {font-size: 19.3px;}
}
@media (min-width: 620px) {
  .featured-image-full div.page-center {left: 0; right: 0;}
  .featured-image-full div.page-center h4 {font-size: 33px;}
}
/***panels***/
.panel {position: relative; height: 400px;}
.panel div.darkener {background: linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.2) 100%);}
.panel div.page-center {position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}
.panel div.page-center h2, .panel div.page-center p {color: #fff;}
.panel div.page-center h2 {font-weight: 900; margin-top: 0;}
.panel div.page-center p, .featured-image-full div.page-center p {font-family: 'Spectral', serif; letter-spacing: -0.5px; font-size: 16px;}
@media (min-width: 620px) {
  .panel {height: 450px;}
  .panel div.page-center {left: 0; right: 0;}
  .panel div.page-center p, .featured-image-full div.page-center p {font-size: 20px;}
}

/***filters***/
div.darkener.instagram-filter {background: linear-gradient(90deg, rgba(131,58,180,0.4) 0%, rgba(253,29,29,0.4) 50%, rgba(252,176,69,0.4) 100%);}

/***article full page carousel & title***/
.carousel-cell, .title {height: 100vh; width: 100%; position: relative; display: block; background-color: #000;}
.title-img {height: 100%; width: 100%; object-fit: cover; top: 0; left: 0; position: absolute;}
div.darkener {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
/*different darkeners for carousel title & article title*/
.carousel-cell div.darkener {background: rgba(0,0,0,0.4);}
.title div.darkener {background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));}
div.separator {width: 80px; height: 4px; background:linear-gradient(to right top, #1aa9ff, #7cceff); margin: 1.5em 0;}
/*title center vertically on /articles & fade in (look in js), and moved from bottom 20% to 10% on individual articles (look in js)*/
div.title-center {position: absolute; left: 0; right: 0;}
.carousel-cell div.title-center {top: 50%; -ms-transform: translateY(-44%); transform: translateY(-44%);}
.title div.title-center {bottom: 50%;}
div.title-center h1, div.title-center h2, div.title-center p, .title p, .title div, .title div a, .title p a {color: #fff;}
div.title-center h2 {font-size: 36px; margin: 0; font-weight: 900;}
div.title-center .description {font-size: 16px; font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.time {font-size: 12px; font-weight: 400;}
.time svg, .time div {width: 18px; height: 18px; margin-right: 6px;}
.time svg {vertical-align: bottom;}
.time div {vertical-align: sub;}
svg.bounce {margin-right: 0;}
.title p.break, .carousel-cell p.break, .featured-image-full p.break {position: absolute; bottom: 26px; left: 0; right: 0;}
/*scroll prompt*/
.scroll-prompt {position: absolute; bottom: 16px; left:76px;}
.scroll-prompt svg {width: 20px; height: 20px; fill: #fff;}
.bottom-blue-border {padding-bottom: 1px; border-bottom: solid 2px #36b4ff; font-size: 11px;}
/*hide description on small screens*/
@media (max-height: 475px) {
  .carousel-cell .description, .title .description {display: none;}
}
/*larger screens*/
@media (min-width: 620px) {
  div.title-center h2 {font-size: 45px;}
  div.title-center .description {font-size: 18px;}
  .time {font-size: 14px;}
  .time svg, .time div {width: 20px; height: 20px;}
  .scroll-prompt {left:0; right: 0;}
  .scroll-prompt svg {margin-left: 76px;}
  .bottom-blue-border {font-size: 12px;}
}

/*reading list title*/
.title.list {height: 300px;}
.title.list div.darkener {background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));}
.title.list div.title-center {bottom: 18px;}
.title.list h1 {font-size: 30px;}
.title.list h4 {font-family: 'Spectral', serif; letter-spacing: -0.5px; margin: 2px 0;}
.title.list h4 svg {height: 20px; width: 20px; vertical-align: sub;}
@media (min-width: 620px) {
  .title.list h1 {font-size: 40px;}
  .title.list h4 {font-size: 24px;}
  .title.list h4 svg {height: 22px; width: 22px; vertical-align: sub;}
}

/***article listing***/
.article {margin: 24px 0;}
.article:first-of-type {margin-top: 0;}
.article a {text-decoration: none; display: flex; background-color: #fff; align-items: center;}
.article a:hover .article-info .time, .article a:hover .article-info .time svg {color: #fff; fill: #fff;}
.article a .gatsby-image-wrapper {width: 50%; height: 180px; object-fit: cover;}
.article a .article-info {width: 50%; padding: 12px 12px 12px 20px; box-sizing: border-box;}
.article a .article-info h2 {margin: 0; font-size: 18px;}
.article a .article-info .time {font-size: 10px; color: #8c8c8c;}
.article a .article-info .time svg {width: 16px; height: 16px; margin-right: 4px; fill: #36b4ff;}
.article a .article-info .button {margin-top: 1em;}
@media (min-width: 620px) {
  .article a .gatsby-image-wrapper {height: 230px;}
  .article a .article-info h2 {font-size: 22px;}
  .article a .article-info .time {font-size: 12px;}
  .article a .article-info .time svg {width: 18px; height: 18px; margin-right: 6px;}
}

/***reading list***/
.reading-list {display: block; margin: 24px 0; height: 180px; box-sizing: border-box; text-decoration: none; position:relative;}
.grey-background .reading-list:first-child {margin-top: 0;}
.reading-list:hover {-webkit-filter: brightness(1.3); filter: brightness(1.3);}
.reading-list div.darkener {background: linear-gradient(to left, transparent, rgba(0,0,0,0.5));}
.reading-list div.reading-list-title {position: absolute; padding: 12px; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);}
.reading-list h3 {color: #fff; font-weight: 900; margin: 0 !important; text-align: left;}
.reading-list p {color: #fff; font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.reading-list p svg {width: 16px; height: 16px; margin-right: 1px; vertical-align: middle;}
.reading-list svg.cta {position: absolute; top:50%; -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; width: 50px; height: 50px; fill: #fff;}
@media (min-width: 620px) {
  .reading-list {height: 230px;}
  .reading-list div.reading-list-title {padding: 12px 20px;}
  .reading-list p svg {width: 18px; height: 18px;}
  .reading-list svg.cta {width: 65px; height: 65px;}
}

/***reading list cta***/
.reading-list.cta .gatsby-resp-image-wrapper, .reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-background-image {height: 180px; overflow:hidden;}
.reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-image {object-fit: cover;}
@media (min-width: 620px) {
  .reading-list.cta .gatsby-resp-image-wrapper, .reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-background-image {height: 230px; overflow:hidden;}
}

/***reading list book listing***/
.article.white > a {background: #f8f8f8;}
.article.white > a:hover {background: #f8f8f8;}
.article.white a:hover h2, .article.white a:hover p.time {color: #282828;}
.article.white a div.gatsby-image-wrapper {width: 33%;}
.article.white a div.gatsby-image-wrapper > picture > img {object-position: top center !important;}
.article.white a .article-info {width: 67%}
.article.white a .article-info p {font-family: 'Public Sans', sans-serif !important; letter-spacing: 0 !important; color: #282828;}
.article.white a .article-info a.button {display: inline-block; margin-top: 0.5em; margin-bottom: 0; font-size: 14px;}
@media (min-width: 420px) {
  .article.white a div.gatsby-image-wrapper {width: 30%;}
  .article.white a .article-info {width: 70%}
}
@media (min-width: 480px) {
  .article.white a div.gatsby-image-wrapper {width: 27%;}
  .article.white a .article-info {width: 73%}
}
@media (min-width: 520px) {
  .article.white a div.gatsby-image-wrapper {width: 25%;}
  .article.white a .article-info {width: 75%}
}
@media (min-width: 620px) {
  .article.white a .article-info a.button {font-size: 16px;}
}

/***in-article styling***/
/*scroll progress bar*/
.progress-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 4px;
}
#progress-bar {
  height: 4px;
  width: 0%;
  background: linear-gradient(to right top, #1aa9ff, #7cceff);
}
/*blockquote*/
blockquote p {border-left: solid 4px #e9e9e9; padding: 0 16px; color: #8c8c8c; margin: 1.8em 0 !important; font-size: 20px; font-family: 'Public Sans', sans-serif !important; letter-spacing: 0 !important; font-weight: 200;}
@media (min-width: 620px) {
  blockquote p {font-size: 22px;}
}
/*in-article image captions (images styled by gatsby-remark-images in config*/
figcaption {font-size: 12px; color: #8c8c8c; font-weight: 200; margin-top: 10px; line-height: 1.5;}
figcaption:before {content: '▲'; color: #36b4ff; margin-right: 2px;}
/*big letter*/
.big-letter {float: left; font-size: 100px; font-weight: 900; color: #36b4ff; line-height: 0.9; margin-bottom: -0.2em; margin-top: -3px; margin-right: 5px;}
@media (min-width: 620px) {
  figcaption {font-size: 14px;}
  .big-letter {font-size: 112px;}
}

/***form***/
#mc_embed_signup {width: 100%; padding: 36px 0 30px; background-color: #f8f8f8;}
#mc_embed_signup p {margin-bottom: 0; color: #8c8c8c; font-weight: 300; font-size: 16px;}

form {width: 100%; display: flex; align-items: center; margin-bottom: 0.6em; border-radius: 40px; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -webkit-appearance: none;}
input, button {padding: 1em 1.2em 1.1em; font-family: 'Public Sans', sans-serif; border-radius: 4px; border: none; font-size: 16px; width: 70%; font-weight: 400; outline: none; margin: 0; box-sizing: content-box; text-shadow: none;}
input[type="email"] {padding-right: 20%; color: #282828;}
input[type="email"]::placeholder {color: #8c8c8c; font-weight: 100;}
button[type="submit"] {width: 45%; justify-content: center; cursor: pointer; margin-top: 0; margin-bottom: 0; margin-left: -15%; color: #fff; border: none; display: flex; align-items: flex-end; text-align: center;}
button[type="submit"].button.primary {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input:focus {outline: none;}
input.required:invalid {border-color: red;}
@media (min-width: 620px) {
  input, #mc_embed_signup p {font-size: 18px;}
}

/***animations***/
/*bounce*/
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -10px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -6px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*swing*/
@-webkit-keyframes swing {
  from {              }
  to   { right: 8px; }
}
@keyframes swing {
  from {              }
  to   { right: 8px; }
}
.swing {
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}