/***reset browers***/
* {padding: 0; margin: 0; line-height: 1.1;}

/***overflow***/
html {overflow-y: scroll;}
html, body {width: 100%; overflow-x: hidden;}

/***fonts and background***/
body {font-family: 'Public Sans', sans-serif; font-size: 16px; color: #2b2f33; text-rendering: optimizeLegibility;}

/***page center***/
@media (max-width: 619px) {
    .page-center {margin: 0 12px;}
}
@media (min-width: 620px) {
    .page-center {width: 600px; margin: 0 auto;}
}

/***general classes***/
.lightblue-background {background-color: #e7f6ff;}
.white-background {background-color: #fff;}
.grey-background {background-color: #f2f3f4; padding: 24px 0;}
.grey-background:first-child {padding-top: 48px;}
.grey-background:last-child {padding-bottom: 54px;}
.text-center {text-align: center;}
.text-center .separator {margin: 1.5em auto;}
.small-grey-font {font-size: 17px; color: #929ba3; font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.large-grey-font {font-size: 20px; color: #929ba3;}
.small-grey-font a {color: #929ba3;}
@media (min-width: 620px) {
  .small-grey-font {font-size: 20px;}
  .large-grey-font {font-size: 22px;}
}

/*responsive hide*/
@media (max-width: 619px) {
  .mobile-no-display {display: none !important;}
}
@media (min-width: 620px) {
  .desktop-no-display {display: none !important;}
}
/***headings***/
h1 {font-size: 36px; font-weight: 900;}
h1#home-page {font-size: 34px;}
h2 {font-size: 30px; margin: 2em 0 0.5em; font-weight: 400;}
h4, h5, h6 {margin: 1.2em 0 0.6em; font-weight: 400;}
h3 {font-size: 26px; font-weight: 900;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}

@media (min-width: 360px) {
  h1#home-page {font-size: 42px;}
}

@media (min-width: 620px) {
    h1 {font-size: 45px;}
    h1#home-page {font-size: 75px;}
    h2 {font-size: 35px;}
    h3 {font-size: 32px;}
    h4 {font-size: 26px;}
}

/***p and links***/
p {line-height: 1.5; margin: 1em 0; font-size: 18px;}
#break-start p {font-family: 'Spectral', serif; letter-spacing: -0.5px; margin: 1em 0;} /*article p */
@media (min-width: 620px) {
  p {font-size: 20px;}
}
a {color: #2b2f33; text-decoration: underline; -webkit-text-decoration-color: #36b4ff; -ms-text-decoration-color: #36b4ff; -moz-text-decoration-color: #36b4ff; text-decoration-color: #36b4ff;}
a:hover {background: linear-gradient(to right top, #1aa9ff, #7cceff); color: #fff; text-decoration: none;}
/*buttons*/
.button {display: inline-block; margin: 0.5em 0; text-decoration: none; font-size: 16px; font-weight: 400; padding: 1em 1.2em 1.1em; border-radius: 4px;}
.button.primary {color: #fff; background:linear-gradient(to right top, #1aa9ff, #7cceff); -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);}
.button.primary:hover {-webkit-filter: brightness(1.1); filter: brightness(1.1);}
.button.secondary {background: #fff;}
span.shadow {padding: 0.65em 0 0.85em; border-radius: 40px; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);}
.button.secondary:hover {background: linear-gradient(to right top, #1aa9ff, #7cceff); color: #fff;}
.button svg {width: 16px; height: 16px; fill: #fff; margin-right: 6px; vertical-align: bottom;}
.button.secondary svg {fill: #36b4ff;}
:hover.button.secondary svg {fill: #fff;}

@media (min-width: 620px) {
  .button {font-size: 18px;}
  .button svg {width: 18px; height: 18px;}
}

/***section breaks***/
div.section-break {width: 20%; border-bottom: solid 4px #e9e9e9; margin-top: 5em;}

/***secondary page top title***/
.top-title {padding-top: 116px; margin-bottom: 48px; position: relative;}
@media (min-width: 620px) {
  .top-title {padding-top: 126px;}
}

/***nav***/
#nav {position: fixed; height: 66px; z-index: 3; -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1); box-shadow: 0 0 10px rgba(0,0,0,0.1); background-color: #fff; width: 100%; transition: 0.2s;}
#nav.reduce-size {height: 57px;}
#nav .page-center {position: relative;}
/**logo**/
a.logo {position: relative; top: 9px; text-decoration: none;}
a.logo h3 {color: #2b2f33; display: inline-block; margin: 11px 0 0 9px; font-size: 23px; vertical-align: top; line-height: 0.6; transition: 0.2s;}
a.logo h3.reduce-size {font-size: 21px; margin: 8px 0 0 8px;}
a.logo h3 span {font-size: 12px; font-family: 'Spectral', serif; letter-spacing: -0.3px; font-weight: 400; transition: 0.2s; display: block; margin-top: 5px;}
a.logo h3 span.reduce-size {font-size: 11px; }
a.logo:hover {background: transparent;}
a.logo svg {width: 48px; height: 48px; border-radius: 50%;  transition: all 0.2s;}
a.logo svg.reduce-size {width: 40px; height: 40px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
/**menu trigger**/
#menu-trigger {position: absolute; top: 22px; right: 0; cursor: pointer; transition: all 0.2s;}
#menu-trigger.reduce-size {top:16px;}
#menu-trigger .bar1, #menu-trigger .bar2, #menu-trigger .bar3 {width: 23px; height: 2px; background-color: #2b2f33; margin: 4px 0; transition: 0.4s;}
#menu-trigger .bar2 {width: 20px; margin: 6px 0 6px 3px;}
#menu-trigger .change .bar1 {-webkit-transform: rotate(-45deg) translate(-6.5px, 5px); transform: rotate(-45deg) translate(-6.5px, 5px);}
#menu-trigger .change .bar2 {opacity: 0;}
#menu-trigger .change .bar3 {-webkit-transform: rotate(45deg) translate(-6.5px, -5px); transform: rotate(45deg) translate(-6.5px, -5px);}
/**menu**/
ul#menu {background: linear-gradient(to left top, #e7f6ff, #fff); list-style-type: none; position: fixed; z-index: -1; min-height: 100%; opacity: 0; transition: all 0.2s linear; width: calc(100% + 20px); padding-top: 90px; left: -20px;}
ul#menu.show {opacity: 1 !important; left: 0 !important; z-index: 2 !important} /*show menu*/
ul#menu li a {text-decoration: none; color: #2b2f33;}
ul#menu li a:hover {background: transparent; color: #36b4ff;}
ul#menu li {padding: 0.5em 0; font-size: 34px; font-weight: 900;}
ul#menu li a {display: flex; align-items: center;}
ul#menu li a svg {margin-right: 16px; width: 28px; height: 28px;}
ul#menu li a svg path {fill: #36b4ff;}
ul#menu li a:hover svg path, ul#menu li a:active svg path {fill: #36b4ff;}

@media (min-width: 620px) {
  ul#menu .page-center {width: 620px;}
  ul#menu li {font-size: 38px;}
  ul#menu li a svg {margin-right: 18px; width: 32px; height: 32px;}
}


/*initially position menu off screen*//*
@media (min-width: 400px) {
  ul#menu {right: -500px;}
}
@media (min-width: 600px) {
  ul#menu {right: -800px; transition: all 0.5s linear;}
}
@media (min-width: 1200px) {
  ul#menu {right: -1400px;}
}
@media (min-width: 1800px) {
  ul#menu {right: -2000px;}
}
*/
/***footer***/
#footer {background-color: #fff; padding: 3em 0 2em; text-align: center;}
#footer .logo-footer a {text-decoration: none;}
#footer .logo-footer a:hover {background: none;}
#footer .logo-footer svg {width: 50px;}
#footer .logo-footer h3 {color: #2b2f33; margin-top: 10px; font-weight: 900;}
#footer .logo-footer h3 small {font-size: 13px; display: block; font-family: 'Spectral', serif; letter-spacing: -0.5px; font-weight: 400;}
#footer .follow-footer {margin: 10px 0 30px;}
#footer .disclaimer-footer p {color: #929ba3; font-size: 10px;}
#footer .disclaimer-footer p a {color: #929ba3; text-decoration-color: #929ba3;}
#footer .disclaimer-footer p a:hover {color: #fff;}
@media (min-width: 620px) {
  #footer {padding: 3em 0;}
  #footer .logo-footer h3 small {font-size: 16px;}
}

/***home-page***/
.featured-image-full {height: 100vh; width: 100%; overflow: hidden; position: relative; background-color: #000; display: block;}
.featured-image-full div.gatsby-image-wrapper {height: 100%;}
/*different class for different home page image depending on time of day*/
.featured-image-full div.gatsby-image-wrapper picture img {object-position: 42% center !important;}
.featured-image-full.morning div.gatsby-image-wrapper picture img {object-position: 35% center !important;}
.featured-image-full.evening div.gatsby-image-wrapper picture img {object-position: 65% center !important;}
/*.featured-image-full div.darkener {background: radial-gradient(rgba(0,0,0,0.6),transparent);}*/
.featured-image-full div.page-center {position: absolute; top: 50%; -ms-transform: translateY(-48%); transform: translateY(-48%);}
.featured-image-full div.page-center h1, .featured-image-full div.page-center h4, .featured-image-full div.page-center p {color: #fff;}
.featured-image-full div.page-center h4, .featured-image-full div.page-center p {font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.featured-image-full div.page-center h4 {margin-top: 0.1em; font-size: 17.5px;}
.featured-image-full div.page-center p {font-size: 16px;}
@media (min-width: 360px) {
  .featured-image-full div.page-center p {font-size: 17px;}
}
@media (min-width: 370px) {
  .featured-image-full div.page-center p {font-size: 18px;}
}
@media (min-width: 620px) {
  .featured-image-full div.gatsby-image-wrapper picture img {object-position: center bottom !important;} 
  .featured-image-full.morning div.gatsby-image-wrapper picture img {object-position: center 62% !important;}
  .featured-image-full.evening div.gatsby-image-wrapper picture img {object-position: center 82% !important;}
  .featured-image-full div.page-center {left: 0; right: 0;}
  .featured-image-full div.page-center h4 {font-size: 36px;}
  .featured-image-full div.page-center p {font-size: 20px;}
}

/***about image cta***/
.about-cta-img {width: 100%; height: 120px; object-fit: cover;}
@media (min-width: 620px) {
  .about-cta-img {height: 140px;}
}

/***advisory board***/
.advisory {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 3em;}
.advisory .member {width: 50%; margin-bottom: 2em; text-align: center;}
.advisory .member .gatsby-image-wrapper {width: 70%; box-shadow: -6px -6px 0px 6px #e7f6ff; border-radius:50%; margin-left: auto; margin-right: auto;}
.advisory .member p {font-size: 16px;}
.advisory .member p span {display: block; font-size: 14px; color: #929ba3;}

@media (min-width: 620px) {
  .advisory {justify-content: flex-start;}
  .advisory .member {width: 33%; margin-bottom: 2em; text-align: center;}
  .advisory .member .gatsby-image-wrapper {width: 65%;}
  .advisory .member p {font-size: 18px;}
  .advisory .member p span {font-size: 16px;}
}

/***filters***/
div.darkener.instagram-filter {background: linear-gradient(90deg, rgba(131,58,180,0.4) 0%, rgba(253,29,29,0.4) 50%, rgba(252,176,69,0.4) 100%);}

/***article full page carousel & title***/
.carousel-cell, .title {height: 100vh; width: 100%; position: relative; display: block; background-color: #000;}
.title-img {height: 100%; width: 100%; object-fit: cover; top: 0; left: 0; position: absolute;}
div.darkener {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
/*different darkeners for carousel title & article title*/
.carousel-cell div.darkener {background: rgba(0,0,0,0.4);}
.title div.darkener {background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));}
div.separator {width: 80px; height: 4px; background:linear-gradient(to right top, #1aa9ff, #7cceff); margin: 1.5em 0;}
/*title center vertically on /articles & fade in (look in js), and moved from bottom 20% to 10% on individual articles (look in js)*/
div.title-center {position: absolute; left: 0; right: 0;}
.carousel-cell div.title-center {top: 50%; -ms-transform: translateY(-44%); transform: translateY(-44%);}
.title div.title-center {bottom: 50%;}
div.title-center h1, div.title-center h2, div.title-center p, .title p, .title div, .title div a, .title p a {color: #fff;}
div.title-center h2 {font-size: 36px; margin: 0; font-weight: 900;}
div.title-center .description {font-size: 16px; font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.time {font-size: 12px; font-weight: 400;}
.time svg, .time div {width: 18px; height: 18px; margin-right: 6px;}
.time svg {vertical-align: bottom;}
.time div {vertical-align: sub;}
svg.bounce {margin-right: 0;}
.title p.break, .carousel-cell p.break, .featured-image-full p.break {position: absolute; bottom: 26px; left: 0; right: 0;}
/*scroll prompt*/
.scroll-prompt {position: absolute; bottom: 16px; left:76px;}
.scroll-prompt svg {width: 20px; height: 20px; fill: #fff;}
.bottom-blue-border {padding-bottom: 1px; border-bottom: solid 2px #36b4ff; font-size: 11px;}
/*hide description on small screens*/
@media (max-height: 475px) {
  .carousel-cell .description, .title .description {display: none;}
}
/*larger screens*/
@media (min-width: 620px) {
  div.title-center h2 {font-size: 45px;}
  div.title-center .description {font-size: 18px;}
  .time {font-size: 14px;}
  .time svg, .time div {width: 20px; height: 20px;}
  .scroll-prompt {left:0; right: 0;}
  .scroll-prompt svg {margin-left: 76px;}
  .bottom-blue-border {font-size: 12px;}
}

/*reading list title*/
.title.list {height: 380px;}
.title.list div.darkener {background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));}
.title.list div.title-center {bottom: 18px;}
.time.tag {font-size: 10px; margin-bottom: 4px; display: inline-block; color: #fff;}
.time.tag svg {width: 14px; height: 14px; vertical-align: sub; margin-right: 4px;}
.reading-list-title .time.tag {font-size: 8px; margin-bottom: 4px;}
.reading-list-title .time.tag svg {width: 12px; height: 12px;}
.reading-list-title p {font-size: 16px;}
div.separator.reading-list {margin: -3px 0 10px; width: 88px;}
div.separator.reading-list.banner {width: 72px; height: 2px;}
.title.list h1 {font-size: 30px;}
.title.list h4 {font-family: 'Spectral', serif; letter-spacing: -0.5px; margin: 5px 0 0; font-size: 20px;}
@media (min-width: 620px) {
  .time.tag {font-size: 12px; margin-bottom: 6px;}
  .time.tag svg {width: 16px; height: 16px; margin-right: 6px;}
  .reading-list-title .time.tag {font-size: 10px;}
  .reading-list-title .time.tag svg {width: 14px; height: 14px;}.reading-list-title p {font-size: 18px;}
  div.separator.reading-list {width: 106px;}
  div.separator.reading-list.banner {width: 90px; margin-top: -2px;}
  .title.list h1 {font-size: 40px;}
  .title.list h4 {font-size: 26px;}
}
@media (min-width: 1500px) {
  .title.list {height: 480px;}
}

/***article listing***/
.article {margin: 24px 0;}
.article:first-of-type {margin-top: 0;}
.article a {text-decoration: none; display: flex; background-color: #fff; align-items: center;}
.article a:hover .article-info .time, .article a:hover .article-info .time svg {color: #fff; fill: #fff;}
.article a .gatsby-image-wrapper {width: 50%; height: 180px; object-fit: cover;}
.article a .article-info {width: 50%; padding: 12px 12px 12px 20px; box-sizing: border-box;}
.article a .article-info h2 {margin: 0; font-size: 18px;}
.article a .article-info .time {font-size: 10px; color: #929ba3;}
.article a .article-info .time svg {width: 16px; height: 16px; margin-right: 4px; fill: #36b4ff;}
.article a .article-info .button {margin-top: 1em;}
@media (min-width: 620px) {
  .article a .gatsby-image-wrapper {height: 230px;}
  .article a .article-info h2 {font-size: 22px;}
  .article a .article-info .time {font-size: 12px;}
  .article a .article-info .time svg {width: 18px; height: 18px; margin-right: 6px;}
}

/***reading list***/
.reading-list {display: block; margin: 24px 0; height: 180px; box-sizing: border-box; text-decoration: none; position:relative;}
.grey-background .reading-list:first-child {margin-top: 0;}
.reading-list:hover {-webkit-filter: brightness(1.2); filter: brightness(1.2);}
.reading-list div.darkener {background: linear-gradient(to left, transparent, rgba(0,0,0,0.5));}
.reading-list div.reading-list-title {position: absolute; padding: 12px; top: 50%; -ms-transform: translateY(-52%); transform: translateY(-52%);}
.reading-list h3 {color: #fff; font-size: 24px; margin: 0 !important; text-align: left;}
.reading-list p {color: #fff; font-family: 'Spectral', serif; letter-spacing: -0.5px;}
.reading-list p svg {width: 16px; height: 16px; margin-right: 1px; vertical-align: middle;}
.reading-list svg.cta {position: absolute; top:50%; -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; width: 60px; height: 60px; fill: #fff;}
@media (min-width: 620px) {
  .reading-list {height: 230px;}
  .reading-list div.reading-list-title {padding: 12px 20px;}
  .reading-list h3 {font-size: 28px;}
  .reading-list p svg {width: 18px; height: 18px;}
  .reading-list svg.cta {width: 65px; height: 65px;}
}

/***reading list cta***/
.reading-list.cta .gatsby-resp-image-wrapper, .reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-background-image {height: 180px; overflow:hidden;}
.reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-image {object-fit: cover;}
@media (min-width: 620px) {
  .reading-list.cta .gatsby-resp-image-wrapper, .reading-list.cta .gatsby-resp-image-wrapper .gatsby-resp-image-background-image {height: 230px; overflow:hidden;}
}

/***reading list book listing***/
.article.white > a {background: #f2f3f4;}
.article.white > a:hover {background: #f2f3f4;}
.article.white a:hover h2, .article.white a:hover p.time {color: #2b2f33;}
.article.white a div.gatsby-image-wrapper {width: 33%;}
.article.white a div.gatsby-image-wrapper > picture > img {object-position: top center !important;}
.article.white a .article-info {width: 67%}
.article.white a .article-info p {font-family: 'Public Sans', sans-serif !important; letter-spacing: 0 !important; color: #2b2f33;}
.article.white a .article-info a.button {display: inline-block; margin-top: 0.5em; margin-bottom: 0; font-size: 14px;}
@media (min-width: 420px) {
  .article.white a div.gatsby-image-wrapper {width: 30%;}
  .article.white a .article-info {width: 70%}
}
@media (min-width: 480px) {
  .article.white a div.gatsby-image-wrapper {width: 27%;}
  .article.white a .article-info {width: 73%}
}
@media (min-width: 520px) {
  .article.white a div.gatsby-image-wrapper {width: 25%;}
  .article.white a .article-info {width: 75%}
}
@media (min-width: 620px) {
  .article.white a .article-info a.button {font-size: 16px;}
}

/***in-article styling***/
/*scroll progress bar*/
.progress-container {
  width: 100%;
  position: fixed;
  top: 57px;
  z-index: 1;
  height: 4px;
}
#progress-bar {
  height: 4px;
  width: 0%;
  background: linear-gradient(to right top, #1aa9ff, #7cceff);
}
/*blockquote*/
blockquote:before {content: "“"; position: absolute; font-size: 400px; margin-top: -100px; margin-left: -34px; color: #e7f6ff; z-index: -1;}
blockquote p {padding: 0 16px; color: #36b4ff; margin: 2.2em 0 !important; font-size: 22px; font-family: 'Public Sans', sans-serif !important; letter-spacing: 0 !important; font-weight: 300;}
@media (min-width: 620px) {
  blockquote:before {margin-left: -40px;}
  blockquote p {font-size: 24px;}
}
/*in-article image captions (images styled by gatsby-remark-images in config*/
figcaption {font-size: 12px; color: #929ba3; font-weight: 200; margin-top: 10px; line-height: 1.5;}
figcaption:before {content: '▲'; color: #36b4ff; margin-right: 2px;}
/*big letter*/
.big-letter {float: left; font-size: 100px; font-weight: 900; background: linear-gradient(to right top, #1aa9ff, #7cceff); color: transparent; -webkit-background-clip: text;
  background-clip: text; line-height: 0.9; margin-bottom: -0.2em; margin-top: -3px; margin-right: 5px;}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .big-letter {background: none; color: #36b4ff;}
    }
@media (min-width: 620px) {
  figcaption {font-size: 14px;}
  .big-letter {font-size: 112px;}
}

/***form***/
form {width: 100%; display: flex; align-items: center; margin-bottom: 1.6em; border-radius: 40px; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); -webkit-appearance: none;}
input, button {padding: 1em 1.2em 1.1em; font-family: 'Public Sans', sans-serif; border-radius: 4px; border: none; font-size: 16px; width: 70%; font-weight: 400; outline: none; margin: 0; box-sizing: content-box; text-shadow: none;}
input[type="email"] {padding-right: 20%; color: #2b2f33;}
input[type="email"]::placeholder {color: #929ba3; font-weight: 100;}
button[type="submit"] {width: 45%; justify-content: center; cursor: pointer; margin-top: 0; margin-bottom: 0; margin-left: -15%; color: #fff; border: none; display: flex; align-items: flex-end; text-align: center;}
button[type="submit"].button.primary {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input:focus {outline: none;}
input.required:invalid {border-color: red;}
@media (min-width: 620px) {
  input {font-size: 18px;}
}

/***animations***/
/*bounce*/
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -10px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -6px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*swing*/
@-webkit-keyframes swing {
  from {              }
  to   { right: 8px; }
}
@keyframes swing {
  from {              }
  to   { right: 8px; }
}
.swing {
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}