---
layout: default
title: Articles
permalink: /articles/
---
<!--no lazy load-->
{% for article in site.articles limit:2 %}
    <a class="title" href="{{ article.url }}">
        <img srcset="{{article.image-small}} 700w, {{article.image}} 1400w, {{article.image-large}} 2100w" src="{{article.image}}" alt="{{article.image-alt}}">
        <h1><span>{{ article.title }}</span></h1>
    </a>
{% endfor %}
<!--lazy load-->
{% for article in site.articles offset:2 %}
    <a class="title" href="{{ article.url }}">
        <img class="lazy" data-srcset="{{article.image-small}} 700w, {{article.image}} 1400w, {{article.image-large}} 2100w" data-src="{{article.image}}" alt="{{article.image-alt}}">
        <h1><span>{{ article.title }}</span></h1>
    </a>
{% endfor %}

<!--subscription form-->
{% include subscription-form.html %}