---
layout: default
---

<!--title-->
<div class="title">
    <img srcset="{{page.image-small}} 700w, {{page.image}} 1400w, {{page.image-large}} 2100w" src="{{page.image}}" alt="{{page.image-alt}}">
    <h1><span>{{page.title}}</span></h1>
</div>

<!--copy-->
<div class="page-center">
    {{ content }}
    <div class="section-break"></div>
</div>   

<!--subscription form-->
{% include subscription-form.html %}

<!--related articles-->
<div class="white-section" style="margin-top: 1em;">
    <div class="page-center">
        <h3 style="margin-top: 1.5em; margin-bottom: 0.5em;">Take another break</h3>
        <div id="related-articles">
            {% assign filtered_articles = site.articles | where_exp: 'article', 'article.url != page.url' %}
            {% assign random_articles = filtered_articles | sample: 4 %}
            {% for article in random_articles %}
                <div class="article">
                    <a class="article-title" href="{{article.url}}">
                        <img class="lazy" data-src="{{article.image-small}}" alt="{{article.image-alt}}">
                        <h4><span>{{ article.title }}</span></h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>