---
layout: default
---

<!--title-->
<div class="title">
    <img srcset="{{page.image-small}} 700w, {{page.image}} 1400w, {{page.image-large}} 2100w" src="{{page.image}}" alt="{{page.image-alt}}">
    <h1><span>{{page.title}}</span></h1>
</div>

<!--copy-->
<div class="page-center">
    {{ content }}
</div>   

<!--related articles-->
<div class="white-section" style="margin-top: 3em;">
    <div class="page-center">
        <p style="margin-top: 2em; margin-bottom: 0;"><i>What did you think of this break? <a href="https://www.instagram.com/philosophybreak/" target="_blank">Let us know on Instagram</a>. In the meantime, here are some other breaks we think you'll enjoy:</i></p>
        <div id="related-articles">
            {% assign filtered_articles = site.articles | where_exp: 'article', 'article.url != page.url' %}
            {% assign random_articles = filtered_articles | sample: 4 %}
            {% for article in random_articles %}
                <div class="article">
                    <a class="article-title" href="{{article.url}}">
                        <img class="lazy" data-src="{{article.image-small}}" alt="{{article.image-alt}}">
                        <h4><span>{{ article.title }}</span></h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--subscription form-->
{% include subscription-form.html %}
